{% extends 'base.html' %} {% block body_class %}onboarding{% endblock %} {% block content %}

<div class="row justify-content-md-center">
    <div id="appoint" class="col-md-7 col-lg-5 bg-secondary">
        <!-- <div class="container p-3 my-3 bg-light text-body"> -->
            <h2>Appointment.</h2>
            <div class="col justify-content-md-center">
            <div class="row-8  bg-light">Day : {{appoint.day}}</div>
            <div class="row-8 bg-light">Time : {{appoint.time}}</div>
            <div class="row-8 bg-light">Status : {{appoint.status}}</div>
        
        <a class="row-8 btn-primary btn-lg btn-block" href="/patient/editAppoint">Edit</a>
        <a class="row-8 btn-primary btn-lg btn-block" href="/patient " >Continue</a> 
        <!--https://www.w3schools.com/jsref/tryit.asp?filename=tryjsref_onclick_dropdown-->

        <div class="row-8 dropdown">
            <button id="myBtn" class="dropbtn btn-primary btn-lg ">Cancel appointment</button>
            <div id="myDropdown" class="row-8 dropdown-content">
                <a href="/patient/cancelAppoint" class="btn-ligth btn-lg">Confirm</a>
            </div>
        </div>




        {% for mesg in get_flashed_messages() %}
        <b>{{ mesg }}</b> {% endfor %}
            </div>
    </div>
</div>
<script>
    /* myFunction toggles between adding and removing the show class, which is used to hide and show the dropdown content */
    document.getElementById("myBtn").onclick = function() {
        myFunction()
    };

    function myFunction() {
        document.getElementById("myDropdown").classList.toggle("show");
    }
</script>
{% endblock%}