{% extends 'base.html' %} {% block body_class %}onboarding{% endblock %} {% block content %}

<div class="row justify-content-md-center">
    <div class="col-md-7 col-lg-5">
        <h2 class="join-message">Account.</h2>
        <form id="patient_form">
            {% for mesg in get_flashed_messages() %}
            <div class="well well-lg">
                {{ mesg }}
            </div>
            {% endfor %}
            <a href="/patient/payment" class="btn-primary btn-lg btn-block">Make a payment!</a>
            <a href="/patient/listPayments" class="btn-primary btn-lg btn-block">List payments!</a>
            <a href="/patient" class="btn-primary btn-lg btn-block">Back!</a>
        </form>

    </div>
</div>
{% endblock %}